:hover {
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding-left: 0px;
}

.p-100 {
  padding: 100px 0;
}

.divider {
  background-color: rgba(44, 39, 99, 0.5);
  width: 50%;
  height: 1px;
  margin: 0 auto;
}

.bg-blue {
  padding: 60px 0;
  background-color: rgba(44, 39, 99, 0.08);
}

.page footer {
  background-color: rgba(44, 39, 99, 0.08);
}

.owl-carousel {
  margin-top: 50px;
}

.owl-carousel .owl-item img {
  width: inherit;
  margin: 0 auto;
}

.owl-carousel .owl-nav {
  position: relative;
  width: 100%;
  margin-bottom: -10px;
}

.owl-carousel .owl-nav .owl-prev {
  float: left;
}

.owl-carousel .owl-nav .owl-prev span {
  font-size: 50px;
}

.owl-carousel .owl-nav .owl-next {
  float: right;
}

.owl-carousel .owl-nav .owl-next span {
  font-size: 50px;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #2C2763;
}

h1 {
  font-size: 45px;
  font-weight: 200;
}

h1 span {
  font-weight: 500;
}

@media (max-width: 1350px) {
  h1 {
    margin-top: 50px;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 38px;
  }
}

h2 {
  font-size: 30px;
  font-weight: 200;
  margin-bottom: 40px;
}

h2 span {
  font-weight: 500;
}

h2 .orange {
  color: #FF6456;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

h4 {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 20px;
}

.subtitle {
  font-size: 18px;
}

.btn-blue {
  background-color: #2C2763;
  border: 1px solid #2C2763;
  color: #fff;
  padding: 10px 20px;
  border-radius: 30px;
}

.btn-blue:hover {
  background-color: transparent;
  color: #2C2763;
}

.btn-orange {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  background-color: #FF6456;
  border: 1px solid #FF6456;
  color: #fff;
  padding: 10px 20px;
  border-radius: 30px;
}

.btn-orange:hover {
  background-color: #fff;
  color: #FF6456;
}

.link-orange {
  color: #FF6456;
  font-weight: 600;
}

.link-orange:hover {
  color: #2C2763;
}

header .top {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 30px 0 30px !important;
}

@media (max-width: 768px) {
  header .top {
    padding-bottom: 30px !important;
  }
}

header .extranet i {
  display: none;
}

@media (max-width: 768px) {
  header .extranet i {
    display: block;
  }
}

@media (max-width: 768px) {
  header .extranet span {
    display: none;
  }
}

header .extranet a {
  position: relative;
  top: 15px;
}

.page .logo img {
  position: relative;
  top: -50px;
}

@media (max-width: 1350px) {
  .page .logo img {
    top: initial;
  }
}

footer {
  padding: 50px 0 0;
  color: #8195AA;
  font-size: 14px;
}

footer a {
  display: block;
  margin: 15px 0;
}

footer a:hover {
  color: #FF6456;
}

footer .copyright {
  padding: 30px 0;
}

@media (max-width: 768px) {
  footer {
    text-align: center;
  }
  footer img {
    margin-bottom: 30px;
  }
}

nav .navbar-nav a {
  color: #2C2763 !important;
  padding-left: 25px !important;
  padding-right: 25px !important;
}

nav .navbar-nav a:hover {
  color: #FF6456 !important;
}

.nav-pills {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-pills .nav-link {
  color: #2C2763;
  padding: 30px 50px 25px;
  margin: 15px 15px 50px 15px;
}

.nav-pills .nav-link span {
  display: block;
  margin-top: 15px;
  font-weight: 600;
}

.nav-pills .nav-link:hover {
  background-color: #fff;
}

.nav-pills .nav-link.active {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.1);
  color: #2C2763;
}

.tab-content h3 {
  font-family: 'Poppins', sans-serif;
  color: #FF6456;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}

.tab-content img {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.terrain, .gestion {
  padding: 80px 0;
}

.terrain img, .gestion img {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.icons {
  padding: 60px 0;
}

.icons strong {
  font-weight: 600;
}

.icons img {
  margin-bottom: 15px;
}

.icons .star {
  font-size: 13px;
  margin-top: 50px;
  letter-spacing: 1px;
}

::-webkit-input-placeholder {
  color: #2C2763;
}

:-ms-input-placeholder {
  color: #2C2763;
}

::-ms-input-placeholder {
  color: #2C2763;
}

::placeholder {
  color: #2C2763;
}

.contact-form h1 {
  margin-bottom: 50px;
}

.contact-form .left {
  border-right: 2px solid #FF6456;
  text-align: right;
}

@media (max-width: 768px) {
  .contact-form .left {
    text-align: center;
    margin-bottom: 1rem;
    border: none;
  }
}

.contact-form .left p:last-child {
  margin-bottom: 0px;
}

.contact-form .right {
  text-align: left;
}

@media (max-width: 768px) {
  .contact-form .right {
    text-align: center;
  }
}

.contact-form .right p:last-child {
  margin-bottom: 0px;
}

input[type=text], input[type=email], input[type=tel], textarea {
  color: #2C2763;
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #2C2763;
  padding-bottom: 15px;
}

input[type=submit] {
  padding-left: 50px;
  padding-right: 50px;
}

label {
  width: 100%;
  margin-bottom: 30px;
}

form {
  margin-top: 50px;
}

.banner h1 {
  margin-top: 30px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.banner img {
  width: 100%;
}

.intro {
  padding: 60px 0;
}

.temoignages {
  padding: 60px 0;
}

.temoignages .owl-nav {
  bottom: 150px;
}

.temoignages .item {
  margin-left: 15px;
  margin-right: 15px;
}

.temoignages .infos {
  display: inline-block;
}

.temoignages .infos .name {
  font-size: 18px;
  font-weight: 600;
}

.temoignages .infos .localisation {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.temoignages .infos:before {
  content: "";
  display: block;
  position: relative;
  background-image: url("../img/Temoignage.svg");
  background-repeat: no-repeat;
  width: 30px;
  height: 20px;
  left: -20px;
  margin-bottom: 5px;
}

.temoignages .msg {
  margin-top: 30px;
}

.temoignages .msg:before {
  content: "";
  display: block;
  position: relative;
  bottom: 15px;
  background-color: #FF6456;
  width: 60px;
  height: 2px;
  margin: 0 auto;
}

.actualites {
  padding: 60px 0 80px;
}

.actualites h3 {
  margin-top: 15px;
}

.actualites img {
  width: 100%;
}

.partenaires {
  padding: 60px 0;
  background-color: rgba(255, 190, 156, 0.09);
}

.partenaires .owl-nav {
  bottom: 100px;
}

.home-extranet {
  padding: 100px 0;
}

.banner-job {
  margin: 60px 0;
  padding: 100px 0;
  text-align: center;
  background-image: url("../img/Bloc_recrutement.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.banner-job p {
  font-family: 'Poppins', sans-serif;
  font-size: 26px;
  font-weight: 200;
  margin-bottom: 30px;
}

.banner-job p span {
  font-weight: 400;
}
/*# sourceMappingURL=main.css.map */