:hover{
	transition: all 0.3s ease-in-out 0s;
}

:focus{
    outline: none;
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style: none;
    padding-left: 0px;
}

.owl-carousel{
    margin-top: 50px;
    .owl-item{
        img{
            width: inherit;
            margin: 0 auto;
        }
    }
    .owl-nav{
        position: relative;
        width: 100%;
        margin-bottom: -10px;
        .owl-prev{
            float: left;
            span{
                font-size: 50px;
            }
        }
        .owl-next{
            float: right;
            span{
                font-size: 50px;
            }
        }
    }
}