.tarifs{
    .bloc{
        width: 50%;
        margin: 0 auto;
        padding: 50px;
        box-shadow: 0 2px 20px 0 rgba(0,0,0,0.1);
        span{
            color: $orange;
            font-size: 40px;
            margin-bottom: 30px;
        }
    }
}

.team{
    .infos{
        text-align: center;
        .name{
            font-size: 18px;
            font-weight: 600;
        }
        .role{
            font-size: 14px;
            font-weight: 500;
            text-transform: uppercase;
            letter-spacing: 2px;
        }
    }
    .msg{
        margin-top: 30px;
        text-align: center;
        &:before{
            content: "";
            display: block;
            position: relative;
            bottom: 15px;
            background-color: $orange;
            width: 60px;
            height: 2px;
            margin: 0 auto;
        }
    }
}

.faq{
    overflow: hidden;
    .questions{
        width: 100vw;
        .owl-item{
            padding: 15px;
            .item{
                padding: 30px;
                box-shadow: 0 2px 20px 0 rgba(0,0,0,0.1);
                .top{
                    display: flex;
                    img{
                        position: relative;
                        bottom: 5px;
                    }
                    .title{
                        font-family: 'Poppins', sans-serif;
                        font-size: 18px;
                        margin-left: 30px;
                    }
                }
            }
        }
    }
}