footer{
    padding: 50px 0 0;
    color: $bluegrey;
    font-size: 14px;
    a{
        display: block;
        margin: 15px 0;
        &:hover{
            color: $orange;
        }
    }
    .copyright{
        padding: 30px 0;
    }
    @media (max-width: 768px){
        text-align: center;
        img{
            margin-bottom: 30px;
        }
    }
}