::placeholder{
    color: $blue;
}

.contact-form, .page-contact{
    h1{
        margin-bottom: 50px;
    }
    .left{
        border-right: 2px solid $orange;
        text-align: right;
        @media (max-width: 768px){
            text-align: center;
            margin-bottom: 1rem;
            border: none;
        }
        p:last-child{
            margin-bottom: 0px;
        }
    }
    .right{
        text-align: left;
        @media (max-width: 768px){
            text-align: center;
        }
        p:last-child{
            margin-bottom: 0px;
        }
    }
}

input[type=text], input[type=email], input[type=tel], textarea{
    color: $blue;   
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $blue;
    padding-bottom: 15px;
}

input[type=submit]{
    padding-left: 50px;
    padding-right: 50px;
}

label{
    width: 100%;
    margin-bottom: 30px;
}

form{
    margin-top: 50px;
}