header{
    .top{
        justify-content: space-between;
        padding: 30px 30px 0 30px !important;
    }
    
    .extranet{
        a{
            position: relative;
            top: 15px;
        }
    }
}

.page{
    .logo{
        position: relative;
        top: -50px;
    }
}